MONGO_DB=dips_services
MONGO_USER=root
MONGO_PASSWORD=rootpassword
MONGO_HOST=mongo
MONGO_PORT=27017
MASTER_PASSWORD=123456
SECRET_KEY=YOUR_SECRET_KEY
KAFKA_URL=localhost:9092
API_BASE_URL=http://localhost:8002/negotiation-api
API_USER_MANAGEMENT_URL=http://localhost:8800
DJANGO_BASE_URL=http://localhost:8000
DJANGO_SECRET_KEY=YOUR_DJANGO_SECRET_KEY
DJANGO_DEBUG=True
KEYCLOAK_ISSUER=http://localhost:9090/realms/dips_services
# negotiation-web is the browser login client used by Django.
KEYCLOAK_CLIENT_ID=negotiation-web
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_AUDIENCE=negotiation-api
FRAME_ANCESTORS=http://localhost:3000
SESSION_COOKIE_SAMESITE=None
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SAMESITE=None
CSRF_COOKIE_SECURE=False
